<h1>New user</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>
  <label>
    username
    <input type="text" name="user[username]" />
  </label>
  <label>
    password
    <input type="password" name="user[password]" />
  </label>

  <button>Create User</button>
</form>
